body {
  font-size: .875rem;
  background-color: #161616;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/* ------------------------------------------------------- */

@media (max-width: 500px) {
  
  body {
    font-size: .875rem;
  }
  
  /* 1 bagian pertama -  1 bagian pertama - 1 bagian pertama - 1 bagian pertama - 1 bagian pertama -*/

  div.first-section-title h1{
    font-size: 75px;
    line-height: 70px;
  }

  div.first-section-pt2{
    margin-left: 0px;
    display: grid;
    justify-content: center;
  }
  
  div.first-section-text{
    font-size: 25px;
    line-height: 25px;
    margin-top: 70px;
    width: 360px;
    text-align: center;
  }
  
  div.first-section-img img{
    width: 241px;
    height: 256px;
    border-radius: 5px;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  div.line1 hr{
    margin-top: 130px;
    border-top: 1px solid #F2ECFF;
    background-color: #F2ECFF;
  }

  /* 2 bagian kedua - 2 bagian kedua - 2 bagian kedua - 2 bagian kedua - 2 bagian kedua - 2 bagian kedua -*/

  div.second-section-title{
    margin-top: 95px;
    align-items: center;
    text-align: center;
  }
  
  div.second-section-title h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
  }
  
  div.second-section-text{
    margin-top: 90px;
    display: grid;
    justify-content: center;
    margin: auto;
  }
  
  div.second-section-txt1 p{
    width: 321px;
    margin: auto;
    margin-top: 70px; 
  }
  
  div.second-section-txt2 p{
    margin: auto;
    margin-top: 50px;
  }
  
  div.second-section-txt3 p{
    margin-top: 50px;
  }

  /* 3 bagian ketiga -  3 bagian ketiga - 3 bagian ketiga - 3 bagian ketiga - 3 bagian ketiga -*/
  
  div.third-section-title h2{
    font-size: 48px;
    line-height: 48px;
    width: 400px;
    margin: auto;
  }
  
  div.first-card{
    margin-right: 0px;
    margin-top: 90px;
  }
    
  div.first-card input{
    margin-top: 0px;
  }
  
  div.second-card{
    width: 279px;
    margin-top: 70px;
  }
  
  div.second-card button{
    font-size: 20px;
    line-height: 20px;
  }
  
  div.card-section{
    margin-top: 90px;
    display: grid;
    justify-content: center;

    margin: auto;
  }
  
  div.card-section-comment p{
    font-size: 14px;
    line-height: 14px;
    width: 370px;
    margin-left: 20px;
    margin-top: 100px;
  }
  
  div.line2 hr{
    margin-top: 40px;
    border-top: 1px solid #F2ECFF;
    background-color: #F2ECFF;
  }

  /* 4 bagian keempat -  4 bagian keempat - 4 bagian keempat - 4 bagian keempat - 4 bagian keempat -*/
  
  div.animation-section{
    margin-top: 90px;
    display: grid;
    justify-content: center;
    margin: auto;
  }
  
  div.animation-section img{
    width: 250px;
    height: 237px;
    border-radius: 5px;
  }
  
  div.animation-section-first img{
    margin-right: 0px;
    margin-top: 70px;
  }
  
  div.animation-section-second img{
    margin-right: 0px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  /* 5 bagian kelima -  5 bagian kelima - 5 bagian kelima - 5 bagian kelima - 5 bagian kelima - 5 bagian kelima -*/
  
  div.fifth-section{
    background-color: #00C896;
    height: 70px;
    margin-top: 140px;
  }
  
  div.fifth-section-text p{
    padding-top: 25px;
  }

}

/* 1 bagian pertama -  1 bagian pertama - 1 bagian pertama - 1 bagian pertama - 1 bagian pertama */

.header-color{
  background-color: #00C896;
  height: 44px;

  align-items: center;
  text-align: center;
}

.header-color img{
  margin-top: 7px;
  width: 119px;
  height: 30px;
}

.first-section{
  max-width: 1100px;
  /*margin: 0px 100px;*/
  margin:auto;
}

.first-section-title{
  margin-top: 79px;
  align-items: center;
  text-align: center;
}

.first-section-title h1{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 96px;
  color: #F2ECFF;
}

.first-section-pt2{
  margin-left: 70px;
  display: flex;
  justify-content: space-between;
}

.first-section-text{
  margin-top: 190px;
  width: 497px;
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400; /* 400 */
  font-size: 30px;
  line-height: 30px;
  color: #F2ECFF;
}

.first-section-img img{
  width: 241px;
  height: 256px;
  border-radius: 5px;
  margin-right: 115px;
  margin-top: 110px;
}

.line1 hr{
  margin-top: 130px;
  border-top: 1px solid #F2ECFF;
  background-color: #F2ECFF;
}

/* 2 bagian kedua - 2 bagian kedua - 2 bagian kedua - 2 bagian kedua - 2 bagian kedua - 2 bagian kedua */

.second-section{
  max-width: 1100px;
  /*margin: 0px 100px;*/
  margin:auto;
  
}

.second-section-title{
  margin-top: 95px;
  align-items: center;
  text-align: center;
}

.second-section-title h2{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #F2ECFF;
}

.second-section-text{
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.second-section-txt1 p{
  width: 321px;
  margin-right: 65px;

  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2ECFF;
}

.second-section-txt2 p{
  width: 321px;
  margin-right: 65px;

  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2ECFF;
}

.second-section-txt3 p{
  width: 321px;

  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F2ECFF;
}

/* 3 bagian ketiga -  3 bagian ketiga - 3 bagian ketiga - 3 bagian ketiga - 3 bagian ketiga */

.third-section{
  max-width: 1100px;
  /*margin: 0px 100px;*/
  margin:auto;
}

.third-section-title{
  margin-top: 110px; /* 79 */
  align-items: center;
  text-align: center;
}

.third-section-title h2{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #F2ECFF;
}

.third-section-title-green{
  color: #00C896;
}

.first-card{
  
  width: 279px;
  margin-right: 250px;
}

.first-card img{
  width: 277px;
  height: 317px;
  border-radius: 5px;
}

.first-card p{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #F2ECFF;
  
  align-items: center;
  text-align: center;

  margin-top: 20px;
}

.first-card input{
  margin-top: 25px;
}

.second-card{
  width: 279px;
}

.second-card img{
  width: 277px;
  height: 317px;
  border-radius: 5px;
}

.second-card p{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #F2ECFF;
  
  align-items: center;
  text-align: center;

  margin-top: 20px;
}

.second-card button{
  width: 277px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #00C896;

  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #F2ECFF;

  margin-top: 7px;
}

.second-card button:hover{
  background-color: #1C9577; /* #ee972c */
}

.card-section{
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.blend-in{
  color: #161616;
}

.card-section-comment p{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F2ECFF;

  margin-top: 105px;
}

.line2 hr{
  margin-top: 40px;
  border-top: 1px solid #F2ECFF;
  background-color: #F2ECFF;
}
/* 4 bagian keempat -  4 bagian keempat - 4 bagian keempat - 4 bagian keempat - 4 bagian keempat */

.fourth-section{
  max-width: 1100px;
  /*margin: 0px 100px;*/
  margin:auto;
}

.fourth-section-title{
  margin-top: 90px; /* 79 */
  align-items: center;
  text-align: center;
}

.fourth-section-title h2{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #F2ECFF;
}

.animation-section{
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.animation-section img{
  width: 250px;
  height: 237px;
  border-radius: 5px;
}

.animation-section-first img{
  margin-right: 125px;
}

.animation-section-second img{
  margin-right: 125px;
}

/* 5 bagian kelima -  5 bagian kelima - 5 bagian kelima - 5 bagian kelima - 5 bagian kelima - 5 bagian kelima */

.fifth-section{
  background-color: #00C896;
  height: 70px;

  margin-top: 160px;
}

.fifth-section-text p{
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #F2ECFF;

  text-align: center;
  padding-top: 23px;
}

/* ---------- */

.hide{
  display: none;
}